<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | <%= brandName %></title>
  </head>
  <body>
    <header>
      <app-bar brandName="<%= brandName %>"></app-bar>
    </header>

    <main>
      <div class="main-content">
        <div class="container py-5">
          <!-- Records -->
          <div>
            <div class="d-flex justify-content-between align-items-center">
              <h1>Dashboard</h1>
              <link-tombol
                kelas="btn-primary text-capitalize"
                tujuan="/stories/tambah.html"
                ikon="bi-plus-lg"
                isi="Tambah Story"
              ></link-tombol>
            </div>

            <div class="mt-3">
              <div id="recordsCard" class="row"></div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="main-footer bg-primary">
        <div class="container px-3 py-4">
          <footer-bar></footer-bar>
        </div>
      </div>
    </footer>

    <detail-modal
      title="Detail Story"
      class="modal fade"
      id="recordDetailModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
    ></detail-modal>
  </body>
</html>
